<% provide(:title, "Help") %>
<h1><%= t(".title") %></h1>
<p>
  <%= raw t(".content.main"), rails_help: link_to (t(".content.rails_help"), Settings.rails.help), rails_book: link_to(t(".content.rails_book", rails_book_important: "<em>#{t(".content.rails_book_important")}</em>")), Settings.rails.book))  %>
</p>
